*{
	/* outline: 2px solid red;*/
	margin:0;
	padding:0;
}
body{
	background-color: rgba(200,200,255,1);
}
input{
	display: inline-block;
	height: 2em;
	width: 6em;
}
button{
	display: inline-block;
	height: 2em;
	width: 10em;
}
p{
	font-family: "Times New Roman",serif;
	font-size: 18pt;
}
p.question{
	display:block;
	height: 3em;
	font-family: "Helvetica",sans-serif;
	font-size: 18pt;
}
#correctAnswer{
	display: none;
}
input[type="submit"]{
	background-color:green;
	color:white;
	height: 2em;
	width: 10em;
	border-radius: 5px;
}